<div class="nav-container">
	<nav class="nav nav-1 light transparent">
		<a href="{{ .Site.BaseURL }}" class="logo">
			<span>{{ .Site.Title }}</span>
		</a>
		<ul class="menu">
			<li><a href="#home" class="inner-link" target="default">{{ .Site.Params.NavTitleHome }}</a></li>
			<li><a href="#wedding" class="inner-link" target="default">{{ .Site.Params.NavTitleWedding }}</a></li>
			<li><a href="#travel" class="inner-link" target="default">{{ .Site.Params.NavTitleTravel }}</a></li>
			<li><a href="#story" class="inner-link" target="default">{{ .Site.Params.NavTitleStory }}</a></li>
			<li><a href="#registry" class="inner-link" target="default">{{ .Site.Params.NavTitleRegistry }}</a></li>
			<!-- <li><a href="#rsvp" class="inner-link" target="default">RSVP<br></a></li> -->
		</ul>
		<div class="mobile-toggle">
			<div class="line-1"></div>
			<div class="line-2"></div>
			<div class="line-3"></div>
		</div>
	</nav>
</div>