<a id="registry" class="in-page-link"></a>

<section class="registry registry-2">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 text-center">
				{{ range where .Data.Pages "Title" "Registry" }}
				    {{ .Content }}
				{{ end }}
			</div>
		</div>
	
		<div class="row">
			<div class="col-sm-12 text-center">
				<a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=543818264&pwsurl=" target="_blank">
					<img alt="Registry" src="/img/bedbathandbeyond.png">
				</a>
			</div>
		</div>
	</div>
</section>