<a id="travel" class="in-page-link"></a>
	
<section class="accom accom-2 bg-secondary">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2>Where to Stay?</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 feature">
				<a href="http://cpplymouth.com/" target="_blank">
					<img alt="Hotel" src="/img/crowneplaza.jpeg">
				</a>
				<h6><a href="http://cpplymouth.com/" target="_blank">Crowne Plaza Minneapolis West</a></h6>
				<p>
					A block of rooms is available. <b>Be sure to book yours by June 3rd!</b> Great accommodations, moderately priced, and friendly staff. Just a hop, skip, and a jump from the wedding site.
				</p>
				<p>
					<a href="https://www.google.com/maps/place/Crowne+Plaza+Minneapolis/@45.016029,-93.4550097,17z/data=!4m7!3m6!1s0x52b34a239d201331:0x1198394ffddd792e!8m2!3d45.016029!4d-93.452821!9m1!1b1" target="_blank">Map & Reviews</a>
				</p>
				<p>
					3131 Campus Dr,<br>
					Plymouth, MN 55441
				</p>
			</div>
		
			<div class="col-sm-4 feature">
				<img alt="Transportation" src="/img/trolley.jpeg">
				<h6>Transportation to and from</h6>
				<p>
					Transportation will be provided between the Crowne Plaza Hotel and the ceremony/reception venue. The shuttle will run: 4:00pm-6:00pm and 10:00pm-midnight.
				</p>
			</div>
		
			<div class="col-sm-4 feature">
				<img alt="Brunch" src="/img/brunch.png">
				<h6>Brunch with the Bride and Groom</h6>
				<p>
					Everyone loves brunch on Sunday morning after a wedding! Join the bride and groom at the Creekside Cafe, located on-site at the Crowne Plaza hotel at 9:00am.
				</p>
			</div>
		</div>
	</div>
</section>

<section class="accom accom-2">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2>What to do?</h2>
			</div>
		</div>
	
		<div class="row">
			<div class="col-sm-4 feature">
				<a href="http://stonearchbridge.com/" target="_blank">
					<img alt="Stone Arch Bridge" src="/img/stonearchbridge.jpeg">
				</a>
				<h6><a href="http://stonearchbridge.com/" target="_blank">Stone Arch Bridge</a></h6>
				<p>
					Located in downtown Minneapolis. The bridge spans across the Mississippi river, connecting historic St. Anthony Main with the Guthrie Theatre and Mill City Museum. This is where the couple got engaged!
				</p>
			</div>
		
			<div class="col-sm-4 feature">
				<a href="http://www.walkerart.org/" target="_blank">
					<img alt="Walker Art Center" src="/img/walkerart.png">
				</a>
				<h6><a href="http://www.walkerart.org/" target="_blank">Walker Art Center</a></h6>
				<p>
					Features contemporary visual and performing arts. Located next to the Minneapolis Sculpture Garden (you know, the big spoon and cherry)!
				</p>
				<p>
					1750 Hennepin Avenue,<br> Minneapolis, MN 55403
				</p>
			</div>
		
			<div class="col-sm-4 feature">
				<a href="https://www.nps.gov/miss/planyourvisit/minnehah.htm" target="_blank">
					<img alt="Minnehaha Falls" src="/img/minnehahafalls.png">
				</a>
				<h6><a href="https://www.nps.gov/miss/planyourvisit/minnehah.htm" target="_blank">Minnehaha Falls</a></h6>
				<p>
					Located on the south side of Minneapolis, this is a fantastic park to take in some fresh air. If you get hungry, stop by the Sea Salt cafe just steps away from a beautiful view of the falls.
				</p>
				<p>
					4801 South Minnehaha Drive,<br> Minneapolis, MN 55417
				</p>
			</div>
		</div>

	</div>
</section>

<section class="accom accom-2 bg-secondary">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2>Where to Eat</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 feature">
				<a href="http://www.rockelmtavern.com/" target="_blank">
					<img alt="Hotel" src="/img/rockelm.png">
				</a>
				<h6><a href="http://www.rockelmtavern.com/" target="_blank">Rock Elm</a></h6>
				<p>
					A favorite of the grooms family. Close proximity to the Crowne Plaza hotel. Features a beautiful patio and brings the best of the downtown dining experience to the suburbs.
				</p>
				<p>
					<a href="https://www.google.com/maps/place/Rock+Elm+Tavern/@45.020201,-93.4933755,17z/data=!4m7!3m6!1s0x52b34be04b73e46b:0x95bff03bb5dbcfe2!8m2!3d45.020201!4d-93.4911868!9m1!1b1" target="_blank">Map & Reviews</a>
				</p>
				<p>
					16605 County Rd 24,<br>
					Plymouth, MN 55447
				</p>
			</div>
		
			<div class="col-sm-4 feature">
				<a href="http://www.burchrestaurant.com/" target="_blank">
					<img alt="Hotel" src="/img/burchsteakhouse.jpeg">
				</a>
				<h6><a href="http://www.burchrestaurant.com/" target="_blank">Burch Restaurant</a></h6>
				<p>
					Succulent steak upstairs & wood fired pizza downstairs. The couple loves stopping in here to enjoy a Calabrese pizza.
				</p>
				<p>
					<a href="https://www.google.com/maps/place/Burch+Steak+and+Pizza+Bar/@44.9628622,-93.293712,17z/data=!4m7!3m6!1s0x52b332da923ac537:0xfdd39e2ffcc1f38f!8m2!3d44.9628622!4d-93.2915233!9m1!1b1" target="_blank">Map & Reviews</a>
				</p>
				<p>
					1933 Colfax Ave S,<br>
					Minneapolis, MN 55403
				</p>
			</div>
		
			<div class="col-sm-4 feature">
				<a href="http://www.gasthofzg.com/" target="_blank">
					<img alt="Gasthof Zur Gemutlichkeit" src="/img/GasthofZurGemutlichkeit.png">
				</a>
				<h6><a href="http://www.gasthofzg.com/" target="_blank">Gasthof Zur Gemutlichkeit</a></h6>
				<p>
					A favorite of the brides family. Authentic German restaurant located in Northeast Minneapolis. Great place for an ice cold German beir and delicious shared platters.
				</p>
				<p>
					<a href="https://www.google.com/maps/place/Gasthof+Zur+Gemutlichkeit/@45.0113888,-93.2655762,17z/data=!4m7!3m6!1s0x52b32df50c4346b3:0x8ab373db5a820be1!8m2!3d45.0113888!4d-93.2633875!9m1!1b1" target="_blank">Map & Reviews</a>
				</p>
				<p>
					2300 University Ave NE,<br>
					Minneapolis, MN 55418
				</p>
			</div>
		</div>
	</div>
</section>