		{{ partial "tags/footer_tag.html" . }}

        </div>
		
        <script src="/js/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
        <script src="/js/smooth-scroll.min.js"></script>
        <script src="/js/placeholders.min.js"></script>
        <script src="/js/flexslider.min.js"></script>
        <script src="/js/spectragram.min.js"></script>
        <script src="/js/scripts.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/aws-sdk-2.3.17.min.js"></script>

    </body>
</html>
