{{ partial "default_head.html" . }}

			{{ partial "index/home.html" . }}

			{{ partial "index/wedding.html" . }}

			{{ partial "index/travel.html" . }}
				
			{{ partial "index/story.html" . }}

			{{ partial "index/beach.html" . }}

			{{ partial "index/registry.html" . }}

<!-- 			<a id="rsvp" class="in-page-link"></a>
				
			<section class="rsvp rsvp-2 bg-secondary">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1>Let us know you're coming!</h1>
							<p>
								Your response is requested by June 30th. We look forward to hearing from you!
							</p>
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="form-wrapper">

								<form class="form-email">
									<div class="form-section">
										<input type="text" name="name" class="validate-required" placeholder="Your Name / Names">
										<div class="radio-group">
											<div class="radio-holder naked checked">
												<span>Attending</span>
												<input type="radio" name="rsvp" value="attending" checked="checked">
											</div>
											<div class="radio-holder naked">
												<span>Not Attending</span>
												<input type="radio" name="rsvp" value="not-attending">
											</div>
										</div>
									</div>

									<div class="form-section">
										<h6>Event</h6>
										<div class="radio-group">
											<div class="radio-holder naked checked">
												<span>Reception Only</span>
												<input type="radio" name="event" value="reception-only" checked="checked">
											</div>
											<div class="radio-holder naked">
												<span>Ceremony and Reception</span>
												<input type="radio" name="event" value="ceremony-and-reception">
											</div>
										</div>
									</div>
									<div class="form-section">
										<h6>Number of guests</h6>
										<div class="radio-group">
											<div class="radio-holder naked checked">
												<span>One</span>
												<input type="radio" name="guests" value="1" checked="checked">
											</div>
											<div class="radio-holder naked">
												<span>Two</span>
												<input type="radio" name="guests" value="2">
											</div>
											<div class="radio-holder naked">
												<span>Three</span>
												<input type="radio" name="guests" value="3">
											</div>
											<div class="radio-holder naked">
												<span>Four</span>
												<input type="radio" name="guests" value="4">
											</div>
										</div>
									</div>
									<div class="form-section">
										<input type="text" name="song" placeholder="Additional comments?">
									</div>
									<input type="submit" value="RSVP">
									<div class="form-error">
										<span>NOT AVAILABLE! COMING SOON!</span>
									</div>
									<div class="form-success">
										<span>Thanks for your RSVP!</span>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section> -->

{{ partial "default_foot.html" . }}
